//colours

$c1: #f8d7a3;
$c1light: #ffeacb;

$c2: #ffa40d;
$c3: #e8790c;
$c4: #ff5900;
$c4light: hsl(21, 100%, 80%);
$c4dark: #652300;

$c5: rgb(233, 56, 12);
$c5light: hsl(12, 90%, 80%);

$c6: #ff1b0d;
$c6light: hsl(3, 100%, 80%);

$cpop: white;
